<a href="https://colab.research.google.com/github/Royalrival/Antariksh/blob/main/lec2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
lo=['Humans','Animals','Plants','Microbes']
#for loop
for i in lo:
  print(i)
#alternatively
print("\n")
for i in range(len(lo)):
  print(lo[i])

Humans
Animals
Plants
Microbes


Humans
Animals
Plants
Microbes

In [12]:
for i in 'ABCDE':
  #traversing through string
  print(i)

A
B
C
D
E

In [19]:
for i in range(0,10,2):
  #implementation of step
  print(i)

0
2
4
6
8

In [28]:
n=15
sum=0
while n!=0 :
  d=n%10
  sum=sum+d
  n=n/10
print(sum)

6.666666666666667

In [33]:
for i in range(10):
  if(i==3):
    continue
  elif(i==9):
    break
  print(i)

0
1
2
4
5
6
7
8

In [36]:
def average(a,b,c):
  return a+b+c
res = average(3,7,9)
print(res)

19

In [44]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end="")
  print("\n")

1

12

123

1234

In [47]:
def f(x,y):
  x=y+3
  y=x-6
  print(x,"\t",y)

f(5,7)

10 	 4

In [84]:
def k(x,y):
  for i in range(0,y,2):
    print(x)

k(y=8,x='alpha')

def l(x):
  while (x>0):
    if(x>10):
      x=x-3
    else:
      x=x-2
    print(x)

l(x=25)

alpha
alpha
alpha
alpha
22
19
16
13
10
8
6
4
2
0

In [66]:
def l1(*args):
  for i in args:
    print(i)
#passing list as parameters in function
#*args is used for accepting list
l1('A','B','C',45,13,54)

A
B
C
45
13
54

In [71]:
def d1(**kwargs):
  for key,value in kwargs.items():
    print("key:",key,", value:",value)
d1(Asia=1,America=2,Europe=3,Antartica=4,Africa=5,Australia=6)

key: Asia , value: 1
key: America , value: 2
key: Europe , value: 3
key: Antartica , value: 4
key: Africa , value: 5
key: Australia , value: 6

In [76]:
def f1(n):
  return lambda a : a ** n

cubecalc = f1(3)
#the lambda function property is used by other function hence cube function is formed
print(cubecalc(11))

1331

In [91]:
def a(arg,*args):
  for i in args:
    print(i)
    print(arg)

a('O','A+','A','B+','B','C+','C')

A+
O
A
O
B+
O
B
O
C+
O
C
O